<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>कलाkrìती</title>
    <link rel="icon" href="./favicon_io/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div id="main1">
       <div class="login-form">
        <form class="login-text" action="/login" method="post">
            <h2>Login From Here !</h2>
           <label for=""><h5>username:</h5> <input name="username" type="email" placeholder="Enter your email"></label> 
           <label for=""> <h5>Password:</h5> <input name="password" type="Password" placeholder="password"></label> 
            <!-- <a href="/forgot"><h5>Forgot my password</h5></a> -->
            <label for=""><input type="checkbox">Remember me</label>
            <button type="submit">Login</button>
            <h5>Do you have an account?</h5><a href="/register">Register</a>
        </form>
       </div>
          <div class="register-icon">
          <h3>lOGIN WITH</h3>
          <a class="button google" href="/login/federated/google"> <i class="ri-google-fill"></i> </a>
        </div>

    </div>
</body>

</html>
