*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
    font-size: 10px;
  }
 #main{
    height: 100%;
    width: 100%;
    
 } 
 #icons a{
  text-decoration: none;
  color: #E5BA73;
 }
#top h1{
    font-size: 50px;
    padding-top: 20px;
    padding-left: 7%;
    color: #E5BA73;
    font-family: 'Yatra One', cursive;

}

#top #icons{
    margin: 2px;
    color: #E5BA73;
    position: absolute;
    top:5%;
    right:10%;
    font-size: 30px;
    
  }

  .cnt{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
  }
#bottom{
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  
  /* width: 100%; */
  height: 100%;
  padding-left: 25px;
}
  .smalldivs{
    height: 260px;
    background-color: wheat;
    width: 220px;
    margin: 25px;
    position: relative;
    border-top-right-radius: 20px;
    overflow: hidden;
    border: solid #812727 1px;
    
 }
 .smalldivs img{
    width: 100%;
    height: 100%;
    
  }
  .smalldivs img:hover{
   animation: imgzoom 2s ease-in-out both;
  }
  
  @keyframes imgzoom {
    50%{
        width: 107%;
        height: 107%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
    
 }
 .prizetags{
    padding: 5px;
    position: absolute;
    bottom:0;
    width: 50%;
    height: 25%;
    background-color: #812727b6;
    border-top-right-radius: 20px;
    border: solid #812727 1px;
    font-family: 'El Messiri', sans-serif;
    line-height: 20px;
  }
  .ids{
    padding: 5px;
    position: absolute;
    width: 35%;
    height: 7%;
   
  }
  .prizetags h5{
    color:wheat;
  }
  .ids h6{
    color:#812727;
  }
  .prizetags h4{
    color:wheat;
  }
  .add{
    width: 25%;
    height: 7%;
    padding: 5px;
    position: absolute;
    right:0;
    display: flex;
    font-size: 25px;
    
  }
  .add a{
    text-decoration: none;
    color: rgb(92, 8, 8);
  }